@model List<Company>

@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsCompanyTable').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthMenu: [[6, 10, 20, -1], [6, 10, 20, "All"]]
            });
        });
    </script>

}

<h1>Company List</h1>


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<table id="jsCompanyTable" class="table">
    <thead>
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Company Industry</th>
            <th scope="col">Company Website</th>
            <th scope="col">Company Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
        <tr>
            <td>@company.CompanyName</td>
            <td>@company.CompanyIndustry</td>
            <td>@company.CompanyWebsite</td>
            <td>
                @if (company.CompanyType == 1)
                {
                    <text>Admin</text>
                }
                else if (company.CompanyType == 2)
                {
                    <text>Current</text>
                }
                else if (company.CompanyType == 3)
                {
                    <text>Alumni</text>
                }
            </td>

            @{
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-controller="Company" asp-action="Edit"
                           asp-route-name="@company.UserName">
                            Edit
                        </a> |

                        <a asp-controller="Company" asp-action="Delete"
                           asp-route-name="@company.UserName"
                           asp-route-email ="@company.Email"
                           onclick="return confirm('Are you sure you want to delete:  @company.UserName?')">
                            Delete
                        </a>
                    </td>
                }
            }


        </tr>

        }
    </tbody>
</table>

